<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<title>About Page</title>
</head>
<body>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:100px;">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
      <li><a href="/contact">Contact us</a></li>
    </ul>
  </nav>
  </div>

  <div class="page-header text-center">
  <h1>About us</h1>
  </div><!--page-header-->

  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img class="img-responsive img-rounded" src="https://upload.wikimedia.org/wikibooks/en/thumb/7/7c/ButterflyPhoenixDoubleNova_wing_dotdotdot_uhuhhuhhh_ovalOrifice.jpg/256px-ButterflyPhoenixDoubleNova_wing_dotdotdot_uhuhhuhhh_ovalOrifice.jpg">
        <h3>Kasra Koushan</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac urna vel nisi rhoncus laoreet molestie sit amet neque. Maecenas vel dolor id elit efficitur faucibus et at enim. Suspendisse sed hendrerit velit, et iaculis enim. Aliquam a sapien ligula. Integer non imperdiet ex.</p>
        <p>Morbi commodo ultricies leo, sit amet venenatis diam sagittis a. Suspendisse nec purus eget nulla molestie venenatis. Vivamus non turpis neque. Ut commodo rhoncus enim. Morbi porta risus purus. Proin in ipsum enim. Donec dictum tellus ut quam tempus volutpat.</p>
      </div><!--col-sm-3-->
      <div class="col-sm-3">
        <img class="img-responsive img-rounded" src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Hakenkreuz_fractal.png">
        <h3>Tang Song</h3>
        <p>Sed tortor est, pharetra quis commodo sed, posuere ut sapien. Phasellus non massa nunc. Donec nunc orci, dictum laoreet dignissim sed, vehicula a odio. Vivamus bibendum nisi nec lectus maximus ullamcorper ut at mi. Etiam condimentum justo lorem, et pharetra ante porta quis.</p>
        <p>Sed fermentum rutrum eros, nec pharetra leo ornare a. Quisque placerat leo id leo sodales facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div><!--col-sm-3-->
      <div class="col-sm-3">
        <img class="img-responsive img-rounded" src="https://pbs.twimg.com/profile_images/652519805581291520/JylK_QJ5.jpg">
        <h3>Max Ying</h3>
        <p>Vivamus rhoncus massa nec ipsum porta, vel convallis urna venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec purus elit, semper sed pellentesque sit amet, gravida ac mauris. Ut ut enim augue.</p>
        <p>Curabitur at vestibulum lacus, iaculis commodo dui. Suspendisse potenti. Sed sit amet porta augue. Aliquam tincidunt dignissim lectus, quis viverra odio ullamcorper in.</p>
      </div><!--col-sm-3-->
      <div class="col-sm-3">
        <img class="img-responsive img-rounded" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/T-Square_fractal_(8_iterations).png/256px-T-Square_fractal_(8_iterations).png">
        <h3>Leshui Zhou</h3>
        <p>Nullam laoreet tincidunt turpis, vitae dictum turpis fringilla quis. Aenean eget ultrices ipsum, eu pretium sem. Nulla fermentum ultricies turpis eget posuere. Vivamus in urna euismod, aliquam mauris id, condimentum est. Vivamus at scelerisque elit. Praesent ut varius sem. </p>
        <p>Nullam in commodo turpis. Donec in semper nisi, eu porta enim. Donec dapibus felis purus, et ullamcorper felis fermentum vitae. Donec ut libero enim. Donec pretium nibh posuere malesuada volutpat. Maecenas mollis at lorem non rutrum.</p>
      </div><!--col-sm-3-->
    </div><!--row-->
    <div style="height:100px"/>
  </div><!--container-->
</body>
</html>