html
  head
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    title About Page
  body
    div
      nav.navbar.navbar-inverse(role='navigation', style='padding-left:100px;')
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li
            a(href='/userform') Try It Yourself
          li.active
            a(href='/about')
              | About Us
              span.sr-only (current)
          li
            a(href='/contact') Contact Us
    .page-header.text-center
      h1 About Us
    // page-header
    .container
      .row
        .col-sm-3
          img.img-responsive.img-rounded(src='http://imgur.com/DcYG1xw.png')
          h3 Kasra Koushan
          p
            | Kasra is a an undergradudate student studying computer science at the UPenn Engineering School. After studying at Penn, he wants to work in the technology sector, and he is interested in data science.
          p
            | Kasra is from Toronto, Ontario, and he transferred to Penn from the University of Toronto. His favorite food is Teriyaki chicken. He likes to watch football on Sunday nights and cheer for his favorite team, the Patriots.
        // col-sm-3
        .col-sm-3
          img.img-responsive.img-rounded(src='http://imgur.com/JZkzlHM.png')
          h3 Tang Song
          p
            | Tang is an undergradudate junior studying system engineering and computer science. He hopes to work in financial services after graduation, and he wants to apply computer science to solve problems.
          p
            | Tang is from Seattle, Washington. His favorite place in Seattle is Alkai Beach in west Seattle. One interesting fact about Tang is that he can spin a book on his finger tip.
        // col-sm-3
        .col-sm-3
          img.img-responsive.img-rounded(src='http://imgur.com/9zwTy7a.png')
          h3 Max Ying
          p
            | Max is a senior studying mathematics and compute science at the College of Arts and Science at Penn. His post graduation plan is to work for SpaceX as software engineer or a test pilot. 
          p
            | Max is from the harsh land of Connecticut. He likes to plays League of Legends with friends. His favorate character is Kha'zix, and he wins a lot of games with it.
        // col-sm-3
        .col-sm-3
          img.img-responsive.img-rounded(src='http://imgur.com/roeHxxF.png')
          h3 Michael Zhou
          p
            | Michael is studying finance and computer science from the Wharton School and the School of Engineering at Penn. Michael is interested in software development, and he is going to intern at Amazon in the Seattle office as a front-end software developer.
          p
            | Michael grew up from Detroit Michigan. Aside from being an exceptional student, he was also a member of the swimming team and junior varsity basketball team in high school. Michael loves music, and his favorite artist is The Weeknd.
        // col-sm-3
      // row
      div(style='height:100px')
      // container
