<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CIS 550 Group 33 Project App</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="script.js"></script>
</head>

<body>
  <div>
    <div>
    <nav class="navbar navbar-inverse" role="navigation" style="padding-left:100px;">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/contact">Contact us</a></li>
      </ul>
    </nav>
    </div>

    <div class="page-header text-center">
    <h1>Group 33 Home Page</h1>
    </div><!--page-header-->

    <div class="container" style="max-width:800px">

      <div class="row text-center">
        <div class="col-sm-12">
          <img class="img-responsive" src="http://www.quickanddirtytips.com/sites/default/files/images/5360/line_graph.png">
          <h3>Sample Graph 1</h3>
          <p>Brief caption</p>
        </div><!--col-sm-12-->
      </div><!--row-->

      <br/>
      <br/>
      
      <div class="row text-center">
        <div class="col-sm-12">
          <img class="img-responsive" src="http://www.glowscript.org/docs/GlowScriptDocs/images/graph.jpg">
          <h3>Sample Graph 2</h3>
          <p>Brief caption</p>
        </div><!--col-sm-12-->
      </div><!--row-->

      <div style="height:100px"></div>

    </div><!--container-->

  </div>
</body>
</html>