html
  head
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  body
    div
      div
        nav.navbar.navbar-inverse(role='navigation', style='padding-left:100px;')
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li.active
              a(href='/userform') 
                | Try It Yourself
                span.sr-only (current)
            li
              a(href='/about') About Us
            li
              a(href='/contact') Contact Us
      br
      .container
        .row
          .col-md-1
          .col-md-2
            p This will return a chart showing distribution of medals for a country in a given year. 
              It will break down the distribution by gender and medal.
        .row
          .col-md-1
          .col-md-2    
            form(method='get', action='/userform')
              p Select Country:
                select(name = "country")
                  - for (var inx=0; inx < results.length; inx++)
                    option #{results[inx].COUNTRY}
              p Select Year:
                select(name = "year")
                  option 1984
                  option 1988
                  option 1992
                  option 1996
                  option 2000
                  option 2004
                  option 2008
              input(type='submit', value='Show Chart')
